name: Lint

on: 
  push:
    branches: 
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        make setup

    - name: Run Lint
      run: make lint
